.item-content{
    position: relative;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    justify-content: center;

 
    background: linear-gradient(217deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0) );
    backdrop-filter: blur(20px);
    border-radius: 20px;

   
      
}

.item-text{
    position: absolute;
    left: 15px;
    top: 15px;
}

.item-info1 {
    color: white;
    background-color: #1dd25c;
    padding: 5px 10px 5px 10px !important;
    border-radius: 30px;
}

.item-info2 {
    color: white;
    background-color: #0D0D0D;
    padding: 5px 10px 5px 10px !important;
    border-radius: 30px;
}

.img-cat {
    width: 250px;
    height: 290px;
}