<div class="container-fluid mx-auto">
    <div class="row w-100">
        <div *ngFor="let item of list; index as i" class="col-lg-4 col-md-6 col-12" >
            <div class="card">
                <div class="card-body">
                    <div class="item-content">
                        <img class="img-fluid" src="https://picsum.photos/500/400"/>
                        <button [routerLink]="['/order', item.id]">
                            <h5 [ngClass]="i % 2 ===1 ? 'item-text item-info2 ': 'item-text item-info1' ">{{ item.title }}</h5>
                        </button>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>