<p>Let's see what is My Cart</p>

<table class="col-12 mt-4 text-center main-table">
    <tr>
        <th class="col-3">Product</th>
        <th class="col-3">Price</th>
        <th class="col-3">Quantity</th>
        <th class="col-3">Total</th>
    </tr>
</table>

<!--  -->

<table class="col-12 mt-4 text-center" *ngIf="myCartDetails.length > 0">
    <tr *ngFor="let item of myCartDetails;">
        <td class="col-3">
            <div><img style="height: 200px; width: 180px;" src="{{item.img_url}}"/></div>
            <a routerLink="/order/{{item.product_code}}">
                <div>{{item.name}} ({{item.color}})</div>
            </a>
        </td>
        <td class="col-3">{{item.price}} &nbsp; {{item.promotion_price}}</td>
        <td class="col-3">{{item.qty}}</td>
        <td class="col-3">{{item.promotion_price?item.qty * item.promotion_price : item.qty * item.price}}</td>

        <!-- <td class="col-3">{{item.skucode}}</td> -->
    </tr>
</table>

<table class="col-12 mt-4" *ngIf="itemList.length === 0">
    <tr>
        <td rowspan="6" class="col-12">
            <div class="col-12 text-center">Your Cart is Empty</div>
        </td>
    </tr>
</table>