<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="imagebox">
                    <img style="object-fit:fill; max-height: 450px;" src="https://picsum.photos/1000/600" alt="">
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-row flex-lg-column justify-content-between">
                <div class="col-6 col-lg-12 imagebox spacer flex-fill">
                    <img style="object-fit:fill;" src="https://picsum.photos/500/350" alt="">
                </div>
                <!-- <div class="text-box spacer flex-fill">
                    <div>
                        <div class="main-box-text-lg"> Last </div>
                        <div class="main-box-text-lg"> Chance </div>
                        <div class="main-box-text-md"> Up to 60% Off </div>
                    </div>
                </div> -->
                <div class="col-6 col-lg-12 text-box spacer flex-fill">
                    <p>This is some text that replaces the lower small image. You can add more content here as needed.</p>
                </div>
            </div>
        </div>
    </div>
</div>