.main-prop {
    position: relative;
}

.main-prop-text {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background: rgba(76, 175, 80, 0.4) ;
    color: bisque;
}

.main-prop-img {
    position: absolute;
    top: 0px;
    left: 0px;
}

