<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="imagebox">
                    <img style="object-fit:fill; max-height: 450px;" src="https://picsum.photos/1000/600" alt="">
                </div>
            </div>
            <div class="col-lg-4 d-flex flex-row flex-lg-column justify-content-between">
                <div class="col-6 col-lg-12 imagebox spacer flex-fill">
                    <img style="object-fit:fill;" src="https://picsum.photos/500/350" alt="">
                </div>
                <div class="col-6 col-lg-12 text-box spacer flex-fill d-flex flex-column">
                    <p>Last</p>
                    <p>Chance</p>
                    <p>Up to 60% Off</p>
                </div>
            </div>
        </div>
    </div>
</div>