<div class="row">
    <div class="row">
        <div class="col-8">
            <div class="">
                <img class="" src="https://picsum.photos/600/400" alt="">
                <div class="">Collections</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div>
                <img src="https://picsum.photos/200/300" alt="">
            </div>
            <div class="d-flex text-center">
                <div class="">Sale 50%</div>
            </div>
        </div>
    </div>
</div>