<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div>
    <div class="row  flex-md-row flex-lg-row">
        <div class="flex-row col-12 col-md-7 col-lg-7 mb-4">
            <div class="row h-100">
                <div class="flex-column col-4">
                    <div class="text-box-arrow">
                        <div *ngIf="page == 1">
                            <button class="btn btn-secondary px-1 disabled">
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </div>

                        <div *ngIf="page > 1">
                            <button class="btn btn-secondary px-1" (click)="changeImg(-1)">
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </div>
                    </div>

                    <div *ngFor="let item of imgList; index as i" class="text-box-order ">
                        <button style=" border-radius: 50%; background-color: white;"
                            (click)="setSelectImg(item.img_code)">
                            <img *ngIf="item.img_url"
                                style="height: 150px; width: 150px; border-radius: 50%; border: 3px solid black;    display: flex;
                                justify-content: center; /* Centers horizontally */
                                align-items: center; /* Centers vertically */
                                overflow: hidden;
                                object-fit: contain; "
                                src={{item.img_url}} />
                        </button>
                    </div>


                    <div class="text-box-arrow">
                        <div *ngIf="page *3 > imgAll.length">
                            <button class="btn btn-secondary px-1 disabled">
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>

                        <div *ngIf="page *3 < imgAll.length">
                            <button class="btn btn-secondary px-1" (click)="changeImg(1)">
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="col-12 col-lg-12 imagebox spacer ">
                        <img class="img-fluid" src={{selectImg}} alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 col-lg-5 h-100">
            <div class=" pl-4 desc-box-order">
                <table class="">
                    <tr>
                        <td>{{title}} </td>
                        <td>{{selectItem.name}} </td>
                    </tr>
                    <tr>
                        <td>
                            <div>Description:</div> </td>
                        <td>{{selectItem.details.description}} </td>
                    </tr>
                    <tr>
                        <td>Color: </td>
                        <td class="d-flex flex-row">
                            <div [innerHTML]="setColor(i)" class="m-2" [ngClass]="i === colorUi ?'order-ui-color-select': 'order-ui-color'" *ngFor="let i of selectColor" (click)="setUI(i)"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-3"> </td>
                        <td class="col-9"> </td>
                    </tr>
                    <!-- <div>Leather </div> -->
                </table>

                <div class="d-flex"> 
                    <table class="col-9">
                        <tr>
                            <th class="order-table-header text-center">Color</th>
                            <th class="order-table-header text-center">Size</th>
                            <th class="order-table-header text-center">Availability </th>
                        </tr>
                        <tr *ngFor="let i of selectItem.variants" >
                            <td *ngIf="i.color_code === colorUi" class="text-center"><span>{{i.color}}</span></td>
                            <td *ngIf="i.color_code === colorUi" class="text-center"><span>{{i.size == '' ? 'normal' : i.size}}</span></td>
                            <td *ngIf="i.color_code === colorUi" class="text-center"><span>{{i.remains}} </span></td>
                        </tr>
                    </table>
                    <table class="col-3">
                        <tr>    
                            <th class="order-table-header text-center">Buy</th>
                        </tr>
                        <tr cla>
                            <td class="text-center">
                                <div class="d-flex flex-column">
                                    <span class="d-flex " *ngFor="let j of myCart">
                                        <button *ngIf="j.id === colorUi"  class="order-btn order-btn-bg pb-1" (click)="setOrder(-1,j)">-</button>
                                        <span   *ngIf="j.id === colorUi" class="order-btn  pb-1">{{j.qty}}</span>
                                        <button *ngIf="j.id === colorUi"  class="order-btn order-btn-bg pb-1" (click)="setOrder(+1,j)">+</button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        
                    </table>
                </div>

                <table class="col-12 text-center">
                    <tr class="mt-2">
                        <td 
                            class="order-price-discount"  
                            *ngIf="selectItem.details.price !=selectItem.details.promotion_price"
                        > 
                            ${{selectItem.details.promotion_price | number : '1.2-2' }} x {{orderQty}}  </td>
                        <td 
                            class="order-price-normal"
                        >
                            ${{selectItem.details.price  | number : '1.2-2' }} x {{orderQty}} </td>
                        <td class="order-price-discount-text" 
                            *ngIf="selectItem.details.price !=selectItem.details.promotion_price">
                            {{(selectItem.details.price-selectItem.details.promotion_price)/selectItem.details.promotion_price*100 | number : '1.2-2'}} % 
                        </td>
                    </tr>

                    <tr class="col-12 ">
                        <td 
                            class="order-price-discount col-4" 
                            *ngIf="selectItem.details.price !=selectItem.details.promotion_price"
                        >  
                            ${{ (selectItem.details.promotion_price ? selectItem.details.promotion_price * orderQty  : selectItem.details.price * orderQty ) | number : '1.2-2'}} 
                        </td>
                        <td 
                            class="order-price-normal col-4"
                        >
                            ${{ (selectItem.details.promotion_price  ? selectItem.details.price * orderQty : '') | number : '1.2-2' }} </td>
                        <td class="order-price-discount-text col-4" 
                            *ngIf="selectItem.details.price !=selectItem.details.promotion_price">
                            {{ ( selectItem.details.price - selectItem.details.promotion_price) * orderQty  | number : '1.2-2'}}  
                        </td>
                    </tr>
                </table>

                <button class="order-btn-bg mt-2 p-2" data-toggle="modal" data-target="#exampleModal">
                    Add to the wishlist
                </button>

                
            </div>
        </div>
        <!-- <div class="d-block d-lg-none">{{title}}</div> -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="d-flex justify-content-center my-4">
        <div class="modal-dialog col-8">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add to Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
    