:root{
    --img-height: 500px
}

.imagebox {
    overflow: hidden;
    width: 100%;
    height: var(--img-height);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    border-radius: 10px;
}
.spacer {
    margin-bottom: 15px; /* Space between images */
}

.text-box-order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px !important;
}

.text-box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; 
}

.desc-box-order{
    height: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}