:root{
    --img-height: 500px
}

.imagebox {
    overflow: hidden;
    width: 100%;
    height: var(--img-height);
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    border-radius: 10px;
}
.spacer {
    margin-bottom: 15px; /* Space between images */
}

.text-box-order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px !important;
}

.text-box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; 
}

.desc-box-order{
    height: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
}

.order-price-normal{
    font-size: 24px;
    font-weight: bold;
}

.order-price-discount, .order-price-discount-text{
    font-size: 24px;
    font-weight: bold;
    color: salmon;
}

.order-price-discount-text{
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: salmon;
    border-radius: 10px;
}

.order-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.order-btn-bg {
    color: aliceblue;
    background: #0D0D0D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0D0D0D, #a19d9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0D0D0D, #a19d9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    font-size: 24px;

}

.order-btn-btn{
    cursor: pointer;
}

.order-table-header{
    width: 50px;
    height: 50px;
}

.order-ui-color-select {
    background-color: #eee;
    border: 4px solid black;
    padding: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.order-ui-color {
    background-color: none;
    border: 4px solid none;
    padding: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
