<div>
    <div class="row  flex-md-row flex-lg-row">
        <div class="flex-row col-12 col-md-7 col-lg-7 h-100">
            <div class="row">
                <div class="flex-column col-4">
                    <div >a </div>
                    <div >b </div>
                </div>
                <div class="col-8">
                    <div class="col-12 col-lg-12 imagebox spacer ">
                        <img class="img-fluid" src="https://picsum.photos/470/500" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-5 col-lg-5">{{title}}</div>
    </div>
</div>